:root{
    --text-color:#FFFF;
    --header-color:#113448;
    --light-green:#14BF98;
    --body-color:#FBFBFB;
    --light-black:#484A46;
    --card-color:#ebe8e8;
    --form-bg:#2A5D77;
}
/* padding: 6rem 12rem; */